{% extends "dashboard/base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-8">
                    
                </div>
                <div class="col-md-4"><div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title"><i class="fal fa-layer-group"></i> Namespaces</div>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
												<span class="btn-label">
													<i class="fal fa-layer-plus"></i>
												</span>
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
