

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <meta name="description" content="Atlantis is a beautiful and elegant Bootstrap 4 admin dashboard designed to manage and visualize data about your business.">
    <meta name="keywords" content="Atlantis, Atlantis admin template, Premium admin template, Premium bootstrap admin, lite admin, admin template, bootstrap 4 template, bootstrap template, best admin template, html5 template, css3 template, Premium bootstrap admin template, download admin template, download bootstrap dashboard">
    <meta name="author" content="Hizrian">

    <meta property="og:title" content="Atlantis PRO - Premium Bootstrap 4 Admin Dashboard">
    <meta property="og:description" content="Atlantis is a beautiful and elegant Bootstrap 4 admin dashboard designed to manage and visualize data about your business.">
    <meta property="og:image"
          content="assets/images/demo1.png">
    <meta property="og:url" content="https://themekita.com">

    <meta name="twitter:title" content="Atlantis PRO - Premium Bootstrap 4 Admin Dashboard">
    <meta name="twitter:description" content="Atlantis is a beautiful and elegant Bootstrap 4 admin dashboard designed to manage and visualize data about your business.">
    <meta name="twitter:image" content="assets/images/demo1.png">
    <meta name="twitter:card" content="summary_large_image">
    <title>Commonground.nu by Conduction.nl</title>
    <link rel="shortcut icon" href="/bundles/atlantis/assets/images/icon.ico">
    <link rel="stylesheet" href="/bundles/atlantis/assets/css/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/d146911ac0.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/bundles/atlantis/assets/css/chocolat.min.css">
    <link rel="stylesheet" href="/bundles/atlantis/assets/css/styles.min.css">
    <link rel="stylesheet" href="/bundles/atlantis/assets/css/custom.min.css">
    <link rel="stylesheet" href="/bundles/atlantis/assets/css/landing.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
</head>

<body>

<nav class="navbar navbar-reverse navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand smooth" href="#">Commonground.nu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto align-items-lg-center">
                <li class="nav-item"><a href="{{ path('app_dashboard_index') }}" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="{{ path('app_dashboard_index') }}" class="nav-link">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="hero-wrapper" id="top">
    <div class="hero">
        <div class="container flex-column flex-lg-row">
            <div class="text text-center text-lg-left">
                <a href="#" class="headline">
                    <div class="badge badge-danger">New</div>
                   Commonground.nu now support digital ocean <i class="fas fa-chevron-right"></i>
                </a>
                <h1>One Dashboard</br>For setting up you entire opensource ecosystem</h1>
                <p class="lead">
                    Commonground.nu will help you to speed up your kubernetes enviroment and install components and applications. Without requiring any code
                </p>
                <div class="cta">
                    <a class="btn btn-lg btn-warning btn-icon icon-right" href="#demo">Start 14 day trial</a> &nbsp;
                </div>
            </div>
            <div class="imgbox">
                <img src="/bundles/atlantis/assets/images/demo1.png" class="imgpreview">
                <img src="/bundles/atlantis/assets/images/demo2.png" class="imgpreview">
                <img src="/bundles/atlantis/assets/images/demo3.png" class="imgpreview">
                <img src="/bundles/atlantis/assets/images/demo4.png" class="imgpreview">
                <img src="/bundles/atlantis/assets/images/demo5.png" class="imgpreview">
                <img src="/bundles/atlantis/assets/images/demo6.png" class="imgpreview">
                <img src="/bundles/atlantis/assets/images/demo7.png" class="imgpreview">
                <img src="/bundles/atlantis/assets/images/demo8.png" class="imgpreview">
                <img src="/bundles/atlantis/assets/images/demo9.png" class="imgpreview">
            </div>
        </div>
    </div>
</div>
<div class="callout container">
    <div class="row">
        <div class="col-md-6 col-12 mb-4 mb-lg-0">
            <div class="text-job text-muted text-14">The simplest and fastest way to</div>
            <div class="h1 mb-0 font-weight-bold"><span class="font-weight-500">Make your organization go</span> Open Source</div>
        </div>
        <div class="col-12 col-sm-4 col-md-2 mb-4 mb-md-0 text-center">
            <div class="h2 font-weight-bold">9</div>
            <div class="text-uppercase font-weight-bold ls-2 text-primary">Applications</div>
        </div>
        <div class="col-12 col-sm-4 col-md-2 mb-4 mb-md-0 text-center">
            <div class="h2 font-weight-bold">26</div>
            <div class="text-uppercase font-weight-bold ls-2 text-primary">Plugins</div>
        </div>
        <div class="col-12 col-sm-4 col-md-2 text-center">
            <div class="h2 font-weight-bold">100+</div>
            <div class="text-uppercase font-weight-bold ls-2 text-primary">Components</div>
        </div>
    </div>
</div>
<section id="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="subtitle">
                    Run your commonground ecosystem without any coding knowledge
                </div>
                <h2 class="title">
                    <span class="text-primary">Awsome</span> Features &amp; <span class="text-primary">Amazing</span> stability guarenteed
                </h2>
                <p class="lead">
                    Don’t go by our Words, checkout our awesome demos and verify yourself.<br>
                    Save 1000s of hours of designing and coding work as we already did that for you.
                </p>
                <div class="products row">
                    <a href="livepreview/examples/demo1" target="_blank" class="col-product col-md-6">
                        <div class="product">
                            <div class="imgbox">
                                <img src="/bundles/atlantis/assets/images/demo1.png" class="imgpreview">
                                <div class="linkpreview">
                                    <div class="btn btn-primary btn-border">Live Preview</div>
                                </div>
                            </div>
                            <h3 class="name">Light Vertical Dashboard</h3>
                        </div>
                    </a>

                    <a href="livepreview/examples/demo2" target="_blank" class="col-product col-md-6">
                        <div class="product">
                            <div class="imgbox">
                                <img src="/bundles/atlantis/assets/images/demo2.png" class="imgpreview">
                                <div class="linkpreview">
                                    <div class="btn btn-primary btn-border">Live Preview</div>
                                </div>
                            </div>
                            <h3 class="name">Dark Vertical Dashboard</h3>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="section-skew">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-lg-10 offset-lg-1">
                <h2>Commonground.nu gives you the <span class="text-primary">choice</span> where to host your ecosystem</h2>
                <p class="lead">Make use of the premium dutch partner Fuga or go with the inernational platforms of digital ocean, google or amazon. The choice between privacy and price is yours</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="features">
                    <div class="feature">
                        <div class="feature-icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <h5>Setup your enviroment(s)</h5>
                        <p>Use our easy wizard to set up one or more haven inviroments </p>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <i class="fas fa-columns"></i>
                        </div>
                        <h5>Complyancy</h5>
                        <p>All envroments comply to commonground standers (such as haven) and governemental standards (as GDPR).</p>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <i class="fab fa-html5"></i>
                        </div>
                        <h5>100+ Components</h5>
                        <p>Schoice from among a wide range of free componnents available trough the commonground app store.</p>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <i class="fas fa-fire"></i>
                        </div>
                        <h5>One button instalation</h5>
                        <p>Install any checklist compliant installation with the push of a button.</p>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <h5>Run multiple enviroments</h5>
                        <p>Does your organizations manage enviroments for other organizations? Manage them all from one dashboard.</p>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        <h5>Don't tender</h5>
                        <p>Commonground.nu pricing model allows you to keep your hosting well bellow tender requirments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="components" class="section-design section-design-right">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 pr-lg-5 pr-0">
                <div class="badge badge-primary mb-3">Clean Components</div>
                <h2>Focus on your <span class="text-primary">goal</span>, let <span class="text-primary">Atlantis</span> help you to <span class="text-primary">design</span> the dashboard</h2>
                <p class="lead">Designing the dashboard from scratch without being based on a concept makes your time run out just to think of what components you need. Atlantis has many components and layouts that you need to save your development time, go to bed early.</p>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <div class="abs-images">
                    <img src="/bundles/atlantis/assets/images/component2.png" alt="user flow" class="img-fluid rounded dark-shadow">
                    <img src="/bundles/atlantis/assets/images/component1.png" alt="user flow" class="img-fluid rounded dark-shadow">
                    <img src="/bundles/atlantis/assets/images/component3.png" alt="user flow" class="img-fluid rounded dark-shadow">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="try" class="section-circle-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2>Want to try it first?</h2>
                <p class="lead">Our primium dutch partner Fuga offers a 14 day free trial for your enviroment.</p>
                <div class="mt-4">
                    <a href="#demo" class="btn btn-lg btn-demo mr-3">Start your trial</a>
                    <!--<a href="https://gumroad.com/l/atlantis-bootstrap" class="btn btn-lg btn-success">Purchase</a>-->
                </div>
            </div>
        </div>
    </div>
</section>

<section id="support-us" class="support-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-none d-lg-block pr-lg-5 pr-sm-0">
                <div class="d-flex align-items-center h-100 justify-content-center abs-images-2">
                    <img src="/bundles/atlantis/assets/images/demo6.png" alt="image" class="img-fluid rounded dark-shadow">
                    <img src="/bundles/atlantis/assets/images/demo2.png" alt="image" class="img-fluid rounded dark-shadow">
                    <img src="/bundles/atlantis/assets/images/demo1.png" alt="image" class="img-fluid rounded dark-shadow">
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <h2><span class="text-primary">Use</span> dont develop.</h2>
                <p class="lead">The commonground.nu dashboard allows you to focus on quickly bringing you ecosystem up and running without the need to learn kubernetes.</p>
                <ul class="list-icons">
                    <li>
              <span class="card-icon bg-primary text-white">
                <i class="fas fa-box-open"></i>
              </span>
                        <span>Deploy applications in minutes.</span>
                    </li>
                    <li>
              <span class="card-icon bg-primary text-white">
                <i class="fas fa-fire"></i>
              </span>
                        <span>Get an real time insight trough the cockpit.</span>
                    </li>
                    <li>
              <span class="card-icon bg-primary text-white">
                <i class="fas fa-stopwatch"></i>
              </span>
                        <span>Autoscale your enviroments up and down in emergencies.</span>
                    </li>
                    <li>
              <span class="card-icon bg-primary text-white">
                <i class="fas fa-heart"></i>
              </span>
                        <span>Automaticly deploy security fixes.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="before-footer">
    <div class="container">
        <div class="card long-shadow">
            <div class="card-body p-45">
                <div class="row align-items-center">
                    <div class="col-md-7 d-flex">
                        <div class="card-icon bg-primary text-white">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <div>
                            <h2>Start Your Commonground Journy</h2>
                            <p class="lead">Start your ecosystem with commonground.nu, and harness our experiences so you don't start from scratch.</p>
                        </div>
                    </div>
                    <div class="col-md-5 text-right">
                        <a href="/login" class="btn btn-primary btn-lg">Start now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h3 class="text-capitalize">Commonground</h3>
                <div class="pr-lg-5">
                    <p>Commonground is an dutch governmental and open source movement that aims to provide api based components for governmental and corporate software. It thereby adheres to international standards and modern design principles. You can read more about that here.</p>

                    <p>Commonground.nu (nu is dutch for now) tries to bring this theory in practice and helps developers (or non developer admins) easily setup and configure a kubernetes environment for there commonground api&rsquo;s and user interfaces.</p>

                    <p>&copy; With <i class="fas fa-heart text-danger"></i> from <a href="https://www.conduction.nl/" target="_blank">Conduction</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/bundles/atlantis/assets/js/core/popper.min.js"></script>
<script src="/bundles/atlantis/assets/js/core/tooltip.js"></script>
<script src="/bundles/atlantis/assets/js/core/bootstrap.min.js"></script>
<script src="/bundles/atlantis/assets/js/atlantis.js"></script>
<script src="/bundles/atlantis/assets/js/landing.js"></script>
<script src="/bundles/atlantis/assets/js/core/slick.min.js"></script>

<script>

    $('.hero-wrapper .imgbox').slick({
        dots: true,
        infinite: true,
        speed: 1200,
        autoplaySpeed: 6000,
        autoplay: true,
        slidesToShow: 1,
        adaptiveHeight: true
    });

</script>
</body>
</html>
